.gameoverscreen {
	@extend %base_align_center;
}

.gameoverscreen__title {
	@extend %base_big_black_box;
}

.gameoverscreen__button {
	@extend %base_med_black_button;
}

%base_gameoverscreen__form__input {
	font-size: 14px;
	font-family: Helvetica;
	@include border-radius(3px);
}

.gameoverscreen__form{
	@extend %base_big_black_box;
	margin: 20px auto;
	
	&__score{
		font-size: 20px;
		font-family: Helvetica;
		font-weight: bold;
	}
	
	&__text{
		@extend %base_gameoverscreen__form__input;
		border: 1px solid #cccccc; 		 
		background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
		outline: none; /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
		height: 24px; 
		width: 200px; 
		color: #000; 
		 		
		&:disabled{
			background: #888;
			color: #555;
		}
	}
	
	&__submit{
		@extend %base_gameoverscreen__form__input;
		
		background-color: rgba(0,0,0,1);
		height: 30px;
		width: 95px;
		
		text-align: center;
		color: rgba(255,255,255,1);
		font-weight: bold;
		&:hover {
			@extend  %base_big_black_button:hover;
		}
		&:disabled {
			@extend  .gameoverscreen__form__text:disabled;
		}
	}
}




