.scoreboard {
	@extend %base_align_center;
}

.scoreboard__button {
	@extend %base_med_black_button;
}

.scoreboard__title {
	@extend %base_big_black_box;
}

.scoreboard__table{
	border-spacing: 0;
	border : 1px solid black;
	margin:0 auto;

	__cell{
		border : 1px solid black;
		font-size : 25pt;
		font-family : Helvetica;
		text-align : center;
		width : 300px;

		-head {
			@extend .scoreboard__table__cell;
			margin : 0px;
			background-color : black;
			color : white;
		}
	}
}